/* General styling for all topnav links */
a.topnav {
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 10px;
}

a.topnav:nth-of-type(1) {
    background-color: #ccffcc;
    color: red;
}

a.topnav:nth-of-type(2) {
    background-color: #666666;
    color: gold;
}

a.topnav:nth-of-type(3) {
    background-color: #000000;
    color: white;
}

a.topnav:hover {
    text-decoration: underline;
}

h1 {
    font-size: 24px;
    color: white;
    background-color: #62979b;
    padding: 15px;
    font-weight: bold;
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table img {
    display: block;
    margin: 0 auto;
}
