{% extends "bookmodule/layouts/base2.html" %}
{% load static %}

{% block title %}Links and Layout Customization{% endblock title %}

{% block content %}
    <h1>Links and Layout Customization</h1>

    <!-- First link with a light green background -->
    <a href="https://www.qu.edu.qa" target="_blank" class="topnav">Go to QU website (open a new tab)</a>

    <!-- Second link with a dark grey background -->
    <a href="https://www.qu.edu.qa" class="topnav">Go to QU website (open in the same page/tab)</a>

    <!-- Third link with a black background -->
    <a href="https://www.qu.edu.qa" class="topnav">Go to QU website (open in the same page/tab)</a>
{% endblock content %}
