{% extends "bookmodule/layouts/base.html" %}

{% load static %} 

{% block title %} List of Books {% endblock title %}

{% block content %}
{% comment %}
  <h1>List of Books</h1>

    <!-- Book Entries -->
    <a href="{% url 'books.view_one_book' 1 %}"> 
        <h2>Internet & World Wide Web How to Program</h2> 
    </a>
    <a href="{% url 'books.view_one_book' 1 %}">
        <img src="{% static 'book1.jpg' %}" alt="Book1 Image" width="200" height="200">
    </a>
    <hr>

    <h2>C++ How to Program, Late Objects Version</h2>
    <img src="{% static 'book2.jpg' %}" alt="Book2 Image" width="200" height="200">
    <hr>

    <h2>Images in Another Folder</h2>
    <img src="{% static 'book3.jpg' %}" alt="Book3 Image" width="200" height="200">
    <hr> 
{% endcomment %}

    <h1>Books List</h1>
<a href="/books/lab9_part1/addbook">Add New Book</a>
<ul>
    {% for book in books %}
        <li>
            {{ book.title }} - {{ book.author }}
            <a href="/books/lab9_part1/editbook/{{ book.id }}">Edit</a>
            <a href="/books/lab9_part1/deletebook/{{ book.id }}">Delete</a>
        </li>
    {% endfor %}
</ul>

{% endblock content %}


